<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:text=${person.firstName}></div>
    <div th:text=${person.lastName}></div>
    <div th:text=${person.age}></div>
    <div th:text=${classType}>--</div>
    <div th:text=${person2.firstName}></div>
    <div th:text=${person2.lastName}></div>
    <div th:text=${person2.age}></div>
    <div th:text=${classType}></div>
    
</body>

</html>